/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section-hero {
    background-image: url(../../images/hero-background.jpg);
    background-size: cover;
    padding: 0;
    position: relative;
}

.section-column {
    color: white;
    max-width: 486px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-hero .section-foreground {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section-hero .section-body {
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-description {
    max-width: 206px;
}

.hero-title {
    color: white;
    font-size: 31px;
    font-weight: 300;
    line-height: 35.94px;
    font-size: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.hero-description {
    font-size: 21px;
    font-weight: 300;
    line-height: 35.94px;
    margin: 0 0 33px 0;
}

.hero-subtitle {
    color: white;
}

.hero-image {
    display: inline-block
}