/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.head-nav {
    display: none;
}

.nav .nav-item {
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 0 17px;
}

.nav .nav-item:hover {
    -webkit-text-decoration: underline #5094f2 3px;
    text-decoration: underline #5094f2 3px;
}

.nav .is-active {
    -webkit-text-decoration: underline #5094f2 3px;
    text-decoration: underline #5094f2 3px;
}

.head-nav {
    float: right;
}

.head-nav ul {
    margin: 0;
    padding: 0;
}

.head-nav ul li {
    display: inline-block;
}

.head-nav ul li a {
    color: #6C6C6C;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 400;
    margin-left: 20px;
    display: block;
    padding: 1.3em 0;
}

.head-nav ul li a:hover,
.head-nav ul li.active a {
    border-bottom: 3px solid #5094F2;
    color: #5094F2;
}

@media (min-width: 922px) {
    .head-nav {
        display: flex;
    }
}